/* replace the copyright to eliminate the copyright symbol enforced by
   the ReadTheDocs theme but eschewed by our legal team */
div[role=contentinfo] {
    display: none;
}

div[role=contentinfo]:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
}